<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="CITests">
        <parameter name="baseFolder" value="../../../main/efaps"></parameter>
        <parameter name="application" value="eFapsApp-Payroll"/>
        <parameter name="ciClass" value="org.efaps.esjp.ci.CIPayroll"/>
        <parameter name="regex4TypeLabelExclude" value=".*\/Company.Label$|.*\/Group.Label$|.*\/Flag.Label$"/>
        <parameter name="regex4MenuLabelExclude" value=".*_Menu.Label$"/>
        <parameter name="regex4FieldLabelExclude" value="^HumanResource_"/>
        <packages>
            <package name="org.efaps.tests.*"></package>
        </packages>
    </test>
</suite>
